.container {
  display: flex;
  padding: 40px;
  gap: 30px;
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.right {
  flex: 1;
  text-align: center;
}

.preview {
  width: 100%;
  border-radius: 12px;
  border: 2px solid #d9b44a;
}
